
QPushButton#blueBtn{
	border: 5px solid #3482af;
	border-radius: 3px;
	background-color: #3482af;
	font: 10pt "Open Sans";
	
}
QPushButton#blueBtn:hover{
	background-color: #178db1;
	border: solid #178db1;
}
QPushButton#blueBtn:pressed{
	background-color: #111d2c;
	border: solid #111d2c;
}


QPushButton#blueBtn_2{
	border: 5px solid #3482af;
	border-radius: 3px;
	background-color: #3482af;
	font: 10pt "Open Sans";
	
}
QPushButton#blueBtn_2:hover{
	background-color: #178db1;
	border: solid #178db1;
}
QPushButton#blueBtn_2:pressed{
	background-color: #111d2c;
	border: solid #111d2c;
}
QPushButton#blueBtn_2:disabled{
	border: 5px solid #C19E58;
	border-radius: 3px;
	background-color: #C19E58;
	font: 10pt "Open Sans";
	color: black;
}


QPushButton{
	border: 5px solid #5d5d5d;
	border-radius: 3px;
	background-color: #5d5d5d;
	
}
QPushButton:hover{
	background-color: #707070;
	border: solid #707070;
}
QPushButton:pressed{
	background-color: #1d1d1d;
	border: solid #1d1d1d;
}



QListWidget:item:selected{
	background-color: #3482af;
}


QCheckBox:indicator{
	width: 15px;
	height: 15px;
}
QCheckBox:indicator:checked{
	image: url(PATH/checked.png);
}
QCheckBox:indicator:checked:hover{
	image: url(PATH/checkedHover.png);
}
QCheckBox:indicator:checked:pressed{
	image: url(PATH/checkedPressed.png);
}
QCheckBox:indicator:unchecked{
	image: url(PATH/unchecked.png);
}
QCheckBox:indicator:unchecked:hover{
	image: url(PATH/uncheckedHover.png);
}
QCheckBox:indicator:unchecked:pressed{
	image: url(PATH/uncheckedPressed.png);
}


QCheckBox#slate:indicator{
	width: 20px;
	height: 20px;
}
}
QCheckBox#slate:indicator:checked{
	image: url(PATH/aprv_icon.png);
}
QCheckBox#slate:indicator:checked:hover{
	image: url(PATH/aprv_icon.png);
}
QCheckBox#slate:indicator:checked:pressed{
	image: url(PATH/aprv_icon.png);
}
QCheckBox#slate:indicator:unchecked{
	image: url(PATH/X_icon.png);
}
QCheckBox#slate:indicator:unchecked:hover{
	image: url(PATH/X_icon.png);
}
QCheckBox#slate:indicator:unchecked:pressed{
	image: url(PATH/X_icon.png);
}



QTableWidget {
	border: 1px solid "#222";
	padding: 0px;
	alternate-background-color: "#424242"
}

QTableWidget::item:selected {
	background-color: "#3388ff"
}

QHeaderView, QHeaderView:section {
	background-color: "#10161b";
	color: "#eee";
	border: 1px;
	padding: 0px
}