html, body {
  height: 100%; }

body {
  background-color: #f0f0f0;
  font-size: 16px;
  line-height: 1.5;
  }

.navbar {
  margin: 0; }

.navbar-inverse2 .navbar-header .navbar-toggle {
  color: #fff; }
  .navbar-inverse2 .navbar-header .navbar-toggle .glypicon {
    background-color: #000;
    color: #fff; }
  .navbar-inverse2 .navbar-header .navbar-toggle:hover {
    background-color: #000; }
    .navbar-inverse2 .navbar-header .navbar-toggle:hover .glypicon {
      background-color: #fff; }

.navbar-header .logo {
  float: left;
  width: 150px; }

.content {
  padding: 20px 0 20px 0; }

h2 {
  font-size: 2em; }

a {
  color: #0090D3; }

.navbar-brand {
  font-size: 2.5em; }

.first-part {
  color: #fff; }

.post-footer {
  margin-top: 10px; }
  .post-footer a {
    border: medium none;
    border-radius: 3px;
    color: #AAAAAA;
    padding: 2px 10px 4px; }

.post-header {
  color: #BBBBBB;
  border-radius: 10px;
  margin: 0;
  padding: 0; }

.hentry {
  border-top: 1px solid #EEEEEE;
  padding: 0px 0 10px;
  position: relative; }
  .hentry a {
    text-decoration: none; }

.post-readmore {
  float: right;
  margin-top: -5px; }

div.syntaxhighlighter .container:before, div.syntaxhighlighter .container:after {
  content: none; }

aside {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  padding: 20px 0 20px 0; }
  aside .categories {
    text-align: left; }
    aside .categories ul, aside .categories h3 {
      padding: 0 20% 0 20%; }
      aside .categories ul li a, aside .categories h3 li a {
        padding: 0 15px; }

.textwidget {
  text-align: center;
  padding: 20px 0; }
  .textwidget div {
    margin: 0 auto; }

pre {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.1em; }

pre.prettyprint {
  width: 100% !important; }

.navigation {
  padding: 0; }

.ads {
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: #fff; }

.content {
  border: 1px solid grey;
  border-bottom-radius: 5px;
  background-color: #fff; }
  .content .col-md-7 {
    padding: 15px; }

.container-footer {
  background-color: #f0f0f0;
  padding: 10px; }

/* fixed banner code */
.container.content{
	margin-top: 0px;
}

.container.navigation iframe{
	#position: fixed;
	#z-index: 10000;
}

.banner-fixed-2{
	top: 0;
}	
.banner-not-fixed{
	position: absolute !important;
	top: 52px !important;
}
.adblock{
	margin-bottom: -80px !important;
}
.a {
    background-color: #dfd;
    padding: 10px;
}