/*
Theme Name: Twenty Fifteen Bootstrap
Theme URI: https://wordpress.org/themes/twentyfifteen
Author: Chad Vernon
Author URI: https://wordpress.org/
Description: 2015 flat bootstrap 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteenbootrap

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Colors:
#337AB7
#409B62
#222222
#74B3CE
#41505D;
body bg: #2C3D4B

*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.625;
    color: #ccc;
    background-color: #2C3D4B;
}
a:link,
a:visited {
  color: #337ab7;
}
a:hover {
  text-decoration: none;
  color: #245580;
}

.text-secondary {
  color: #337ab7;
}

.entry-content h1 {
  color: #fff;
}
.entry-content h2 {
  color: #409b62;
}

.list-group {
  -webkit-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
}
.well, 
.list-group-item,
.container {
    background-color: #222;
    border: 1px solid #363636;
}
.container {
    -webkit-box-shadow: 0px 0px 64px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 64px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 64px 0px rgba(0,0,0,1);
}
.well {
    background-image: none;
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #363636;
}
a.list-group-item .list-group-item-heading {
  color: #337ab7;
}
a.list-group-item .list-group-item-text {
  color: #ccc;
}
.modal {
    color: #000;
}
#masthead .site-title {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 30px 0 10px 0;
    text-align: center;
}
#masthead .site-title a {
    display: block;
    color: #fff;
}
#masthead .site-title a:hover {
    color: #ccc;
}
@media (max-width:991px) {
    #masthead .site-title {
        padding: 15px 0;
    }
}
#sidebar {
}

@media (min-width: 992px) {
    #sidebar {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar-toggle {
    float: left;
    border: 1px solid #363636;
    color: #ccc;
    background-color: #222;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .sidebar-toggle {
        display: none;
        margin: 0;
    }
    #sidebar #secondary.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
        visibility: visible!important;
    }
}

.search-field {
    border-radius: 0;
}

#content {
    background-color: #222;
    border-left: 1px solid #363636;
    min-height: 924px;
}
@media (max-width:992px) {
    #content {
        border-left: 0;
    }
}



.hentry {
    border-bottom: 1px solid #363636;
    padding: 40px;
    position: relative;
}
@media (max-width:767px) {
    .hentry {
    padding: 20px;
}
}.hentry .entry-thumbnail, .hentry .entry-media {
    margin: 30px 0 0;
    text-align: center;
}
.page-header .page-title,
.hentry .entry-title {
    margin-top: 0;
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
}
@media (max-width:1199px) {
    h1,
    .hentry .entry-title {
    font-size: 30px;
}
}@media (max-width:991px) {
    h1,
    .hentry .entry-title {
    font-size: 24px;
}
}@media (max-width:767px) {
    h1,
    .hentry .entry-title {
        font-size: 24px;
    }
}
.entry-title,
.entry-title a {
    color: #fff;
}
.entry-title a:hover, .entry-title a:focus {
    color: #ccc;
}
.site-description,
.hentry .entry-meta,
.site-footer {
    text-align: center;
    color: #777;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hentry .entry-meta .sep {
    margin: 0 10px;
}
.hentry .entry-content, .hentry .entry-summary {
    padding: 30px 0 0;
}
@media (max-width:767px) {
    .hentry .entry-content, .hentry .entry-summary {
    padding: 10px 0 0;
}
}.hentry .page-links {
    padding: 30px 0 0;
    font-family: "Roboto Slab"}
.hentry .page-links a {
    color: #f39c12;
}
.hentry .page-links a:hover, .hentry .page-links a:focus {
    color: #363636;
}
.hentry .tags-links {
    margin: 40px 0 0;
}
@media (max-width:991px) {
    .hentry .tags-links {
    margin: 30px 0;
}
}.hentry .tags-links a {
    background-color: #777;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/**
 * PAGINATION
 */
.paging-navigation {
    padding: 30px 90px 0 90px;
    position: relative;
    text-align: center;
}
.paging-navigation:before, .paging-navigation:after {
    content: " ";
    display: table;
}
.paging-navigation:after {
    clear: both;
}
@media (max-width:991px) {
    .paging-navigation {
    padding: 30px 120px;
  }
}
@media (max-width:767px) {
    .paging-navigation {
    padding: 30px;
  }
}
.paging-navigation .page-numbers {
    background-color: #222;
    border-color: #363636;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}
.pagination>li>span.current {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pager li>a:link, .pager li>a:visited,
.pager li>a:hover, .pager li>a:focus {
    background-color: #222;
    border: none;
}

/**
 * MAIN SITE NAVIGATION
 */
#site-navigation {
    padding: 0;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: #222;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
#main-nav-container {
    padding: 0;
    border: 0;
}
#site-navigation .container-fluid {
    padding: 0;
}
#site-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#site-navigation li {
    border-bottom: 1px solid #363636;
    display: block;
}
#site-navigation li:first-child {
    border-top: 1px solid #363636;
}

#site-navigation a {
    display: inline-block;
    padding: 10px 25px 10px 20px;
    color: #ccc;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
#site-navigation a.dropdown-toggle {
    display: inline-block;
    padding: 10px 7px;
    font-size: 12px;
    line-height 1;
    float: right;
    vertical-align: baseline;
}
@media (max-width:1199px) {
    #site-navigation a {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    #site-navigation a.dropdown-toggle {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

#site-navigation .sub-menu a {
    padding-left: 40px;
}
#site-navigation a:hover, #site-navigation a:focus {
    color: #aaa;
    /*background-color: #337ab7;*/
}
#site-navigation .toggle-sidebar {
    float: left;
    color: #fff;
    width: 40px;
    height: 40px;
    border-right: 1px solid #363636;
    outline: none !important;
}
#site-navigation .sub-menu li:last-child, #site-navigation .children li:last-child {
    border-bottom: none;
}
#site-navigation .sub-menu li:first-child, #site-navigation .children li:first-child {
    border-top: 1px solid #363636;
}
#site-navigation .sub-menu .sub-menu, #site-navigation .children .sub-menu, #site-navigation .sub-menu .children, #site-navigation .children .children {
    background: rgba(0, 0, 0, 0.3);
}
#site-navigation .sub-menu .sub-menu .sub-menu, #site-navigation .children .sub-menu .sub-menu, #site-navigation .sub-menu .children .sub-menu, #site-navigation .children .children .sub-menu, #site-navigation .sub-menu .sub-menu .children, #site-navigation .children .sub-menu .children, #site-navigation .sub-menu .children .children, #site-navigation .children .children .children {
    background: rgba(0, 0, 0, 0.5);
}
#site-navigation .current-menu-item>a, #site-navigation .current-menu-parent>a, #site-navigation .current-menu-ancestor>a, #site-navigation .current_page_item>a, #site-navigation .current_page_parent>a, #site-navigation .current_page_ancestor>a {
    color: rgba(255, 255, 255, 0.5);
}
#site-navigation .current-menu-parent>.fa, #site-navigation .current-menu-ancestor>.fa, #site-navigation .current_page_parent>.fa, #site-navigation .current_page_ancestor>.fa {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#site-navigation .current-menu-parent>.fa.open, #site-navigation .current-menu-ancestor>.fa.open, #site-navigation .current_page_parent>.fa.open, #site-navigation .current_page_ancestor>.fa.open {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
#site-navigation .current-menu-parent>.sub-menu, #site-navigation .current-menu-ancestor>.sub-menu, #site-navigation .current_page_parent>.sub-menu, #site-navigation .current_page_ancestor>.sub-menu, #site-navigation .current-menu-parent>.children, #site-navigation .current-menu-ancestor>.children, #site-navigation .current_page_parent>.children, #site-navigation .current_page_ancestor>.children {
    display: block;
}

li.menu-item-primary {
    background-color: #41505D;
}


.menu-social-container {
    text-align: center;
}

#menu-social {
    display: inline-block;
    list-style: none;
    padding-left: 0;
}
#menu-social > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

#menu-social a {
    color: #409b62;
    font-family: 'Roboto Condensed', sans-serif;
}
#menu-social a:hover {
    color: #2a6640;
}

/**
 * WIDGETS
 */
#widget-area {
    padding: 0 0 10px 0;
    font-size: 14px;
    line-height: 25px;
}

#widget-area .widget-title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    margin: 0;
    padding: 10px 0 10px 0;
    color: #fff;
}
.widget {
    padding: 10px 10px 20px 10px;
}
.widget:last-child {
    border-bottom: none;
}
@media (max-width:1199px) {
    #widget-area .widget-title {
        font-size: 22px;
    }
    .widget {
        padding-top: 8px ;
        padding-bottom: 8px;
    }
}
@media (max-width:991px) {
    #widget-area .widget-title {
        font-size: 18px;
    }
    .widget {
        padding-top: 4px ;
        padding-bottom: 4px;
    }
}
@media (max-width:767px) {
    #widget-area .widget-title {
        font-size: 18px;
    }
    .widget {
        padding-top: 4px ;
        padding-bottom: 4px;
    }
}

#widget-area ul {
    list-style: none;
    padding-left: 30px;
}
#widget-area ul li {
    display: block;
}

/**
 * COMMENTS
 */
#comments {
    padding: 20px 20px;
    border-bottom: 1px solid #363636;
}
#comments .comment:first-child {
    margin-top: 30px;
}
#comments .comment {
    width: 100%;
    padding: 10px 0 25px 0;
    border-bottom: 1px solid #363636;
}
.comment .media-body {
    width: 100%;
}
.comment-meta {
    float: right;
    font-size: 11px;
}
@media (max-width:767px) {
    .comment-meta {
        float: none;
    }
}
.comment-meta a {
    color: #777;
}
.comment-meta a:hover, .comment-meta a:focus {
    color: #555;
}
#comments .trackback, #comments .pingback {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #363636;
}

.comment .syntaxhighlighter .line {
    white-space: pre-wrap !important;
}

pre[class*="language-"] {
  border-radius: 0 !important;
  -webkit-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
}

pre + p {
  margin-top: 2em;
}

/**
 * PANEL BOOTSTRAP OVERRIDES
 */
.panel {
  border-radius: 0 !important;
  -webkit-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
}

.panel-primary {
    border-color: #363636 !important;
}

.panel-primary .panel-heading {
    background-image: none !important;
    background-color: #41505D !important;
    border: none;
    border-radius: 0;
}

.panel-primary .panel-heading a {
    display: block !important;
}

.panel-primary .panel-heading a:link,
.panel-primary .panel-heading a:visited {
    color: #fff;
}

.panel-primary .panel-body {
    padding: 0;
}

.panel-primary .panel-body pre{
    border: none;
    border-radius: 0;
    margin: 0;
    word-wrap: normal;
}

pre.prettyprint {
    border: none;
    border-radius: 0;
    word-wrap: normal;
}


.modal-code.modal-body {
    margin: 0;
}

/**
 * THUMBNAIL BOOTSTRAP OVERRIDES
 */
.thumbnail {
  background-color: #222;
  border: 1px solid #363636;
  -webkit-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
}

.thumbnail h3,
.thumbnail .caption {
    color: #ccc;
}

.breadcrumbs {
    display: block;
    background-color: #222222;
    padding: .75rem 1rem;
}

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #ccc;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #fff;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background-color: #363636;
  border: 1px solid #363636;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);
  box-shadow: 16px 16px 32px 0px rgba(0,0,0,0.25);

}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #363636;
  border-right: 0 solid #363636;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #363636;
  border-right: 0 solid #363636;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #337ab7;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0 0 10px 0;
  color: #409b62;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
