QToolTip
{
    color:  black;
    background-color: #d4a953;
    padding: 1px;
    border-radius: 3px;
    opacity: 255;
}

QLabel 
{
    color : white;
}

QWidget
{
    color: white;
    font-size: 10pt;
    background-color: #444444;
}

QWidget:item:hover
{
    background-color: #373737;
    color: #000000;
}

QWidget:item:selected
{
    background-color: #373737;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background: transparent;
    border: 2px solid #5385a6;
}

QMenuBar::item:pressed
{
    background: #444;
    border: 1px solid #000;
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu
{
    border: 1px solid #000;
}

QMenu::item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    color: 000000;
    background-color: #5385a6;
}

QWidget:disabled
{
    color: #404040;
    background-color: #323232;
}

QAbstractItemView
{
    background-color: #2b2b2b;
}

QLineEdit
{
    background-color: #2b2b2b;
    color: white;
    padding: 1px;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QLineEdit::focus
{
    border: 1px solid #5385a6;
}

QPushButton
{
    color: white;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #616161, stop: 0.1 #595959, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-width: 1px;
    border-color: #1e1e1e;
    border-style: solid;
    padding: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

QComboBox
{
    selection-background-color: #5385a6;
    background-color: #5d5d5d;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QComboBox:hover,QPushButton:hover
{
    border: 1px solid #5385a6;
}

QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #5385a6;
}

QComboBox QAbstractItemView
{
    border: 2px solid #5385a6;
    selection-background-color: #5385a6;
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
 }

QComboBox::down-arrow
{
     image: url('images:down-arrow.png');
     height:10px;
     width:10px;
}

QGroupBox:focus
{
border: 2px solid #5385a6;
}

QTextEdit:focus
{
    border: 2px solid #5385a6;
}

QScrollBar:horizontal {
    border: 1px solid #222222;
    background: #373737;
    height: 7px;
    margin: 0px 16px 0 16px;
}

QScrollBar::handle:horizontal
{
    background: #5d5d5d;
    min-height: 20px;
    border-radius: 2px;
}

QScrollBar::add-line:horizontal {
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: #5d5d5d;
    width: 14px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: #5d5d5d;
    width: 14px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal
{
    image: url('images:left-arrow.png');
    height:10px;
    width:10px;
}

QScrollBar::right-arrow:horizontal
{
    image: url('images:right-arrow.png');
    height:10px;
    width:10px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background: #373737;
    width: 7px;
    margin: 16px 0 16px 0;
    border: 1px solid #222222;
}

QScrollBar::handle:vertical
{
    background: #5d5d5d;
    min-height: 20px;
    border-radius: 2px;
}

QScrollBar::add-line:vertical
{
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: #5d5d5d;
    height: 14px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: #5d5d5d;
    height: 14px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical
{
    image: url('images:up-arrow.png');
    height:10px;
    width:10px;
}
QScrollBar::down-arrow:vertical
{
    image: url('images:down-arrow.png');
    height:10px;
    width:10px;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QTextEdit
{
    background-color: #242424;
    color: white;
}

QPlainTextEdit
{
    background-color: #242424;
}

QHeaderView::section
{
    background-color: #1f5e87;
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QCheckBox:disabled
{
    color: #414141;
}

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    background-color: #1f5e87;
    color: white;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMainWindow::separator:hover
{

    background-color: #1f5e87;
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar::handle
{
    spacing: 3px; /* spacing between items in the tool bar */
    background: url('images:right-arrow.png');
}

QMenu::separator
{
    height: 2px;
    background-color: #373737;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #5385a6;
    width: 2.15px;
    margin: 0.5px;
}

QTableWidget{
    color: black;
    background-color: gray;
}

QTabBar::tab {
    color: #b1b1b1;
    border: 1px solid #444;
    border-bottom-style: none;
    background-color: #323232;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
    border: 1px solid #444;
    top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
    border-top-right-radius: 3px;
}

QTabBar::tab:first:!selected
{
    margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
    border-top-left-radius: 3px;
}

QTabBar::tab:!selected
{
    color: #b1b1b1;
    border-bottom-style: solid;
    margin-top: 3px;
}

QTabBar::tab:selected
{
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #333333, stop:0.6 #444444, stop:0.2 #444444, stop:0.1 #5385a6);
}

QTabBar::tab:!selected:hover
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #5385a6;
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
}

QRadioButton::indicator:checked
{
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #ffffff,
        stop: 0.3 #323232
    );
}

QCheckBox::indicator{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    width: 9px;
    height: 9px;
}


QRadioButton::indicator
{
    border-radius: 6px;
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #5385a6;
}

QCheckBox::indicator:checked
{
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1,
        stop: 0.25 #ffffff,
        stop: 0.3 #323232
    );
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled
{
    border: 1px solid #444;
}

QListView::item:selected
{
    background-color: #5385a6;
}

QListView::item:!selected:hover
{
    background-color:#5385a6;
    color: white;
}

QTreeView {
    alternate-background-color: #595858;
}

QTreeView::item:selected
{
    background-color: #5385a6;
    color: white;
}

QTreeView::item:!selected:hover
{
    background-color:#5385a6;
}

QTreeView::branch:closed:has-children
{
    border-image: none;
    image: url('images:branch-closed.png');
}

QTreeView::branch:open:has-children
{
    border-image: none;
    image: url('images:branch-open.png');
}

QCalendarWidget QWidget:enabled
{
    background-color: #5385a6;
}

QCalendarWidget QWidget:disabled
{
    background-color: #5385a6;
}


QCalendarWidget QTableView:enabled
{ 
    alternate-background-color: #242424; 
    background-color:#242424;
}

QCalendarWidget QAbstractItemView:enabled 
{
    color: #c8c8c8;  
    selection-background-color: #5385a6; 
    selection-color: #ffffff; 
}

QCalendarWidget QAbstractItemView:disabled 
{ 
    color: #646464; 
}

QDateEdit
{
    background-color: #5d5d5d;
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QDateEdit:hover,QPushButton:hover
{
    border: 1px solid #5385a6;
}


QDateEdit:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #5385a6;
}

QDateEdit::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
 }
QDateEdit::down-arrow
{
    image: url('images:down-arrow.png');
    height:10px;
    width:10px;
}

QSpinBox {
    border-width: 3;
    background-color: #2b2b2b;
    border-style: solid;
    border: 1px solid #1e1e1e;
}

QSpinBox::focus {
    border: 1px solid #5385a6;
}

QSpinBox::up-button:pressed{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #616161, stop: 0.1 #595959, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
}

QSpinBox::down-button:pressed{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #616161, stop: 0.1 #595959, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
}

QSpinBox::up-arrow {
    image: url('images:up-arrow.png');
    width: 7px;
    height: 7px;
}

QSpinBox::down-arrow {
    image: url('images:down-arrow.png');
    width: 7px;
    height: 7px;
}
