
/*
 --------------------------------------------------------------------------
 Base widgets
 --------------------------------------------------------------------------
*/

QWidget {
    font-family: Open Sans;
    color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 180);
    background-color: BACKGROUND_COLOR;
}

QWidget:disabled {
    color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 100);
}

QLineEdit, QPushButton, QToolBar, QToolButton, QTabBar, QTabBar::tab {
    border: 0px;
    background-color: BACKGROUND_COLOR;
}

MenuBarWidget, QToolBar, QToolButton  {
	color: ACCENT_FOREGROUND_COLOR;
	background-color: ACCENT_COLOR;
	spacing:4*DPIpx;
}

QToolTip {
    background-color: rgb(255, 255, 204);
    color: black;
    border: black solid 1px;
    margins: 2px;
}

/*
DIALOG
*/

QDialog QPushButton:focus {
    color: ACCENT_FOREGROUND_COLOR;
    background-color: ACCENT_COLOR;
}

QDialog QPushButton, QDialog QDialogButtonBox QPushButton {
    color: FOREGROUND_COLOR;
    background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 30);
}

/*
 --------------------------------------------------------------------------
 Push Button
 --------------------------------------------------------------------------
*/

QPushButton:hover {
	background-color: rgb(ACCENT_COLOR_R, ACCENT_COLOR_G, ACCENT_COLOR_B, 200);
}

QPushButton#updateButton {
	color: ACCENT_COLOR;
    height: 24px;
	margin: 5px;
	padding: 5px;
    border-radius: 1px;
    background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 220);
}

QPushButton#acceptButton {
	font: bold 12*DPIpx;
	color: ACCENT_FOREGROUND_COLOR;
    background-color: rgb(ACCENT_COLOR_R, ACCENT_COLOR_G, ACCENT_COLOR_B, 230);
}

QPushButton#acceptButton:hover {
    background-color: rgb(ACCENT_COLOR_R, ACCENT_COLOR_G, ACCENT_COLOR_B, 250);
}

/*
 --------------------------------------------------------------------------
 Slider
 --------------------------------------------------------------------------
*/

QSlider::groove:horizontal {
    height: 3*DPIpx; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: rgb(0, 0, 0, 0);
}

QSlider::handle:horizontal {
	background: ACCENT_COLOR;
    width: 8*DPIpx;
    height: 2*DPIpx;
    margin: -4*DPIpx 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 2*DPIpx;
 }

QSlider::add-page:horizontal {
    border: 0px solid #999999;
    background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 50);
}

QSlider::sub-page:horizontal {
    background-color: ACCENT_COLOR;
    border-top: 1px solid ACCENT_COLOR;
    border-bottom: 1px solid ACCENT_COLOR;
}

/*
 --------------------------------------------------------------------------
 Scroll Bar
 --------------------------------------------------------------------------
*/

QScrollBar:vertical {
	width: 10*DPIpx;
}

QScrollBar:horizontal {
	height: 10*DPIpx;
}

QScrollBar:vertical,
QScrollBar:horizontal {
	margin: 0px;
	border: 0px solid grey;
	background: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 0);
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal{
	min-height: 0px;
	background: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 50);
}

QScrollBar::handle:vertical:hover,
QScrollBar::handle:horizontal:hover {
	background: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 100);
}

QScrollBar::add-line:vertical,
QScrollBar::add-line:horizontal {
	height: 0px;
	border: 0px solid grey;
	subcontrol-origin: margin;
	subcontrol-position: bottom;
	/*background: rgb(80, 80, 80);*/
}

QScrollBar::sub-line:vertical,
QScrollBar::sub-line:horizontal {
	height: 0px;
	border: 0px solid grey;
	subcontrol-position: top;
	subcontrol-origin: margin;
	/*background: rgb(80, 80, 80);*/
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	width: 0px;
	height: 0px;
	border: 0px;
	background: white;
}

QScrollBar::add-page:horizontal, QScrollBar::add-page:vertical,
QScrollBar::sub-page:horizontal, QScrollBar::sub-page:vertical {
	background: none;
}

/*
 --------------------------------------------------------------------------
 Header View
 --------------------------------------------------------------------------
*/

/* style the sort indicator */
 QHeaderView::up-arrow {
     image: url("RESOURCE_DIRNAME/icons/up_arrow.png");
 }

QHeaderView::down-arrow {
     image: url("RESOURCE_DIRNAME/icons/down_arrow.png");
 }

QAbstractItemView::separator{
	height: 0px;
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

QListView::item, QTreeView::item {
	border: 0px;
	outline: none;
	border-style: solid;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 10);
}

QHeaderView::section {
	font: 16*DPIpx;
	height: 24*DPIpx;
	border: 0px;
	border-right: 2*DPIpx solid rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 20);
	padding: 5*DPIpx;
	background-color: BACKGROUND_COLOR;
}

/*
 --------------------------------------------------------------------------
 List/Tree View
 --------------------------------------------------------------------------
*/

QTreeView {
	font: 13*DPIpx;
	color: FOREGROUND_COLOR;
}

QTreeView, QListView, QPushButton {
    border: 0px;
    outline: none;
}

QTreeView::item, QTreeView::branch {
	height: 24*DPIpx;
	show-decoration-selected: 1; /* make the selection span the entire width of the view */
	background-color: BACKGROUND_COLOR;
}

QTreeView::item:focus{
	border: 0px;
	outline: none;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url("RESOURCE_DIRNAME/icons/branch_closed_DARKNESS.png");
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url("RESOURCE_DIRNAME/icons/branch_open_DARKNESS.png");
}

QMenu::separator, QListView::item:hover,
QTreeView::branch:hover, QTreeView::item:hover {
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 20);
}

QTreeView::branch:selected,
QFrame#headerFrame > QWidget, QFrame#headerFrame, QMenu::item:selected {
    color: ACCENT_FOREGROUND_COLOR;
    background-color: ACCENT_COLOR;
}

QTreeView::item:selected, QTreeView::item:selected:active,
QListView::item:selected, QListView::item:selected:active {
    color: ACCENT_FOREGROUND_COLOR;
    background-color: ACCENT_COLOR;
}



QCheckBox::indicator, QRadioButton::indicator  {
	width: 18px;
	height: 18px;
}

QRadioButton::indicator:checked {
    image: url("RESOURCE_DIRNAME/icons/radio_button_checked_DARKNESS.png");
}

QRadioButton::indicator:unchecked {
    image: url("RESOURCE_DIRNAME/icons/radio_button_unchecked_DARKNESS.png");
}

QCheckBox::indicator:checked, QMenu::indicator:non-exclusive:checked {
    image: url("RESOURCE_DIRNAME/icons/check_box_checked_DARKNESS.png");
}

QCheckBox::indicator:unchecked, QMenu::indicator:non-exclusive:unchecked  {
    image: url("RESOURCE_DIRNAME/icons/check_box_unchecked_DARKNESS.png");
}

QCheckBox::indicator:disabled, QMenu::indicator:non-exclusive:disabled  {
    image: url("RESOURCE_DIRNAME/icons/check_box_unchecked_DARKNESS.png");
}


/*
 --------------------------------------------------------------------------
 ComboBox
 --------------------------------------------------------------------------
*/

QComboBox {
	width: 10px;
    border: 0px;
	padding-left: 2px;
    border-radius: 0px;
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 15);
}

QComboBox::drop-down {
	border: 0px;
	padding-top: 2px;
	background-color: rgb(255, 255, 255, 0);
	image: url("RESOURCE_DIRNAME/icons/drop_arrow_DARKNESS.png");
}

/*QComboBox::down-arrow {*/
    /*width: 1px;*/
	/*image: url("RESOURCE_DIRNAME/icons/null.png");*/
    /*background-color: rgb(255, 255, 255, 0);*/
/*}*/

QComboBox, QSpinBox, QLineEdit, QComboBox QAbstractItemView:item {
	height: 25px;
	padding: 0 4px;
	/*font-size: 14px;*/
	font-size: 10pt;
	border-radius: 0px;
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 15);
	border-bottom: 0px solid rgb(255, 255, 255, 50);
	selection-color: rgb(255, 255, 255, 230);
	selection-background-color: ACCENT_COLOR;
}

QComboBox, QLineEdit {
	border: 0px;
	border-bottom: 2px solid rgb(0,0,0,0);
}

QComboBox:focus, QLineEdit:focus {
	border: 0px;
	border-bottom: 2px solid ACCENT_COLOR;
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 30);
}

QComboBox QAbstractItemView {
	selection-background-color: ACCENT_COLOR;
	selection-color: ACCENT_FOREGROUND_COLOR;
}

QComboBox QAbstractItemView::item {
}


QLabel {
    selection-color: ACCENT_FOREGROUND_COLOR;
	selection-background-color: ACCENT_COLOR;
}

/*
 --------------------------------------------------------------------------
 Tab bar
 --------------------------------------------------------------------------
*/

QTabBar {
    qproperty-drawBase: 0;
}

QTabBar::tab {
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

QTabBar::tab:first:selected {
   background-color: rgb(0, 0, 0, 0);
   border-left: 0px solid rgb(0, 0, 0, 0);
}


/*
 --------------------------------------------------------------------------
 Menu Item
 --------------------------------------------------------------------------
*/


QMenu, QMenu QWidget {
	font: 13*DPIpx;
	/*color: rgb(255, 255, 255, 180);*/
	/*background-color: BACKGROUND_COLOR;*/
}

QMenu::separator {
	height: 1px;
	padding: 0px 1px 0px 1px;
}

QMenu::icon {
	padding: 4px;
}

QMenu::indicator:non-exclusive {
	width: 14px;
	height: 14px;
	padding-left: 2px;
}

QMenu::item {
	color: FOREGROUND_COLOR;
	padding: 3px 25px 3px 25px;
	border: 1px solid rgb(0, 0, 0, 0);
}

QMenu::item:disabled {
	color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 50);
}

QMenu::item:selected {
    color: ACCENT_FOREGROUND_COLOR;
    background-color: ACCENT_COLOR;
}


/*
 --------------------------------------------------------------------------
 SearchWidget
 --------------------------------------------------------------------------
*/
SearchWidget, SearchWidget QLabel {
	font: 22*DPIpx;
	height: 35px;
	padding: 0 2px;
	color: ACCENT_FOREGROUND_COLOR;
	background-color: ACCENT_COLOR;
	selection-background-color: rgb(ACCENT_FOREGROUND_COLOR_R, ACCENT_FOREGROUND_COLOR_G, ACCENT_FOREGROUND_COLOR_B, 210);
	selection-color: ACCENT_COLOR;
}

SearchWidget:focus {
	border: 0px;
	border-bottom: 0px solid rgb(255, 255, 255, 0);
	background-color: rgb(255, 255, 255, 50);
	selection-background-color: rgb(255, 255, 255, 240);
	selection-color: ACCENT_COLOR;
}

SearchWidget QLabel {
	border: 0px;
	color: FOREGROUND_COLOR;
}

SearchWidget QPushButton, SearchWidget QPushButton:hover {
	border: 0px;
	padding: 0 2px;
	color: ACCENT_FOREGROUND_COLOR;
	background-color: rgb(255, 255, 255, 0);
}


/*
 --------------------------------------------------------------------------
 QSplitter
 --------------------------------------------------------------------------
*/


QSplitter {
	background-color: BACKGROUND_COLOR;
}

QSplitter:handle {
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 10);
}

QSplitter::handle:hover {
    background-color: ACCENT_COLOR;
}


/*
 --------------------------------------------------------------------------
 Slider Widget Action
 --------------------------------------------------------------------------
*/

SliderWidgetAction {
	padding-left: 18px;
}

SliderWidgetAction QLabel {
	min-width: 50px;
}


/*
 --------------------------------------------------------------------------
 Separator Widget Action
 --------------------------------------------------------------------------
*/

SeparatorWidgetAction {
	margin: 2px;
}

SeparatorWidgetAction Line {
	min-height: 1px;
	max-height: 1px;
	background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 30);
}

SeparatorWidgetAction QLabel {
	min-height:24px;
	max-height:24px;
	color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 80);
}


/*
 --------------------------------------------------------------------------
 Other
 --------------------------------------------------------------------------
*/


NavigationFrame {
	margin: 2px;
}

#actionWidget {
    margin: 0px;
    padding: 0px;
}

#actionLabel {
    padding-left: 5px;
    background-color: transparent;
}

#actionOption {
    color: FOREGROUND_COLOR;
    margin: 1px;
    background-color: rgb(255, 255, 255, 5);
}

ToastWidget {
	font: bold 25*DPIpx;
	border-radius: 5px;
	color: rgb(250, 250, 250);
	background-color: rgb(0, 0, 0, 200);
}

/*
 --------------------------------------------------------------------------
 TESTING NEW STYLE
 --------------------------------------------------------------------------
*/
/*!**/
 /*--------------------------------------------------------------------------*/
 /*Folders Widget*/
 /*--------------------------------------------------------------------------*/
/**!*/

/*FoldersWidget,*/
/*FoldersWidget:item,*/
/*FoldersWidget:branch {*/
	/*color: rgb(255, 255, 255, 150);*/
	/*background-color: rgb(60, 60, 60);*/
/*}*/


/*!**/
 /*--------------------------------------------------------------------------*/
 /*Status Widget*/
 /*--------------------------------------------------------------------------*/
/**!*/

/*StatusWidget{*/
	/*color: rgb(255, 255, 255, 150);*/
	/*background-color: rgb(60, 60, 60);*/
/*}*/


/*!**/
 /*--------------------------------------------------------------------------*/
 /*Preview Frame*/
 /*--------------------------------------------------------------------------*/
/**!*/

/*PreviewFrame {*/
	/*margin: 2px;*/
/*}*/

/*PreviewFrame, PreviewFrame QWidget {*/
	/*color: rgb(255, 255, 255, 150);*/
	/*background-color: rgb(60, 60, 60);*/
/*}*/

PreviewFrame QWidget {
    color: FOREGROUND_COLOR;
}

#previewButtons QPushButton {
    color: ACCENT_FOREGROUND_COLOR;
    background-color: ACCENT_COLOR;
}

PreviewFrame QPushButton {
    color: FOREGROUND_COLOR;
}

PreviewFrame QPushButton:hover {
    color: ACCENT_FOREGROUND_COLOR;
}

/*
--------------------------------------------------------------------------
PROGRESS WIDGET
--------------------------------------------------------------------------
*/

ProgressBar QLabel {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    padding-left: 1px;
}

ProgressBar QProgressBar{
    margin: 2px;
    max-width: 200px;
    min-width: 150px;
    max-height: 3px;
    padding: 0px;
    color: rgb(0,0,0,200);
    border-radius: 1px;
    background-color: rgb(250,250,250,50);
}

ProgressBar QProgressBar::chunk {
    color: white;
    background-color: white;
    margin: 0px;
    max-height: 5px;
    border-radius: 1px;
}


 /*--------------------------------------------------------------------------*/
 /* CUSTOM MESSAGE BOX */
 /*--------------------------------------------------------------------------*/

#messageBoxHeaderLabel {
    font: 16pt;
    color: rgb(255,255,255);
}

#messageBoxHeaderFrame {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#messageBox {
    border-radius: 7px;
    background-color: rgb(255,255,255,255);
}

#messageBox QWidget {
    background-color: rgb(255,255,255,0);
}

#messageBox #messageBoxInputEdit {
    background-color: rgb(240, 240, 240, 180);
}

#messageBoxBody QWidget {
    font: 10pt;
    color: rgb(100,100,110);
}

#messageBox QPushButton {
    font: 11pt;
    color: rgb(250, 250, 250, 250);
    min-width: 92px;
    min-height: 32px;
    border-radius: 16px;
    background-color: rgb(180, 180, 180, 230);
}

#messageBox QPushButton:focus, #messageBox QPushButton:hover {
    color: ACCENT_FOREGROUND_COLOR;
    background-color: ACCENT_COLOR;
}

#messageBox QRadioButton::indicator:checked {
    image: url("RESOURCE_DIRNAME/icons/radio_button_checked_black.png");
}

#messageBox QRadioButton::indicator:unchecked {
    image: url("RESOURCE_DIRNAME/icons/radio_button_unchecked_black.png");
}

#messageBox QCheckBox::indicator:checked {
    image: url("RESOURCE_DIRNAME/icons/check_box_checked_black.png");
}

#messageBox QCheckBox::indicator:unchecked {
    image: url("RESOURCE_DIRNAME/icons/check_box_unchecked_black.png");
}

#messageBox QCheckBox::indicator:disabled {
    image: url("RESOURCE_DIRNAME/icons/check_box_unchecked_black.png");
}

#messageBoxFrame {
    background-color: rgb(BACKGROUND_COLOR_R,BACKGROUND_COLOR_G,BACKGROUND_COLOR_B,210);
}


#filterByAction QWidget {
    background-color: transparent;
}

#filterByAction:hover {
    background-color: ACCENT_COLOR;
    color: ACCENT_FOREGROUND_COLOR;
}

#filterByAction {
    height: 22px;
    padding: 3px;
    background-color: transparent;
}

#filterByAction #actionCounter {
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(255,255,255,20);
}

#filterByAction QCheckBox {
    width: 64px;
}

#filterByAction QCheckBox::indicator {
	width: 14px;
	height: 14px;
	padding-left: 2px;
}


ColorFieldWidget ColorPickerWidget {
   margin: 0px;
   max-height: 24px;
   min-height: 24px;
   border-radius: 4px;
}

ColorPickerWidget #colorButton:hover {
    border: 2px solid rgb(255, 255, 255);
}

ColorFieldWidget #colorButton[first=true] {
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
}

ColorFieldWidget #colorButton[last=true] {
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}

Lightbox {
    background-color: rgb(0, 0, 0, 100);
}


#menuButton {
    margin-left: 4px;
    min-width: 25px;
    max-width: 25px;
    border-radius: 2px;
    text-align: center;
    background-color: rgb(0,0,0,20);
}

/*
#errorLabel {
    font-style: italic;
}
*/
#menuButton:hover {
    background-color: rgb(100,100,100,20);
}

/*
---------------------------
Form Widget
---------------------------
*/

/* --- Separator --- */
SeparatorFieldWidget > #widget {
    min-height: 18px;
    max-height: 18px;
    font: bold;
    margin: 2px;
    background-color: transparent;
    border-bottom: 1px solid rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 20);
}

TextFieldWidget QTextEdit {
    min-height: 42px;
    max-height: 92px;
}

FormWidget QWidget {
    /*font-size: 12px;*/
    text-align: left;
}

FieldWidget {
    min-height: 18px;
}

FieldWidget[layout="vertical"] {
    margin-bottom: 3px;
}

FieldWidget[layout="vertical"] #label {
    margin-bottom: 2px;
}

FieldWidget[layout="horizontal"] {
    margin-bottom: 2px;
}

FieldWidget[layout="horizontal"] #label {
    margin-right: 4px;
}


LabelFieldWidget {
    min-height: 16px;
    max-height: 16px;
}

FieldWidget #label {
    min-width: 72px;
    color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 100);
}

FieldWidget #label:disabled {
    color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 25);
}

FormWidget #titleWidget {
    font-size: 12px;
    padding: 2px;
    padding-left: 5px;
    background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 20);
    border-bottom: 0px solid rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B, 20);
}

FormWidget #titleWidget:checked {
    background-color: rgb(255, 255, 255, 5);
}

FormWidget #optionsFrame {
    margin: 2px;
}

FieldWidget QComboBox {
    border: 1px solid transparent;
}

BaseSaveWidget #fieldWidget {
    margin-top: 4px;
}

BaseLoadWidget QLineEdit,
BaseLoadWidget QTextEdit,
BaseLoadWidget QComboBox,
BaseLoadWidget #thumbnailButton,
BaseSaveWidget QLineEdit,
BaseSaveWidget QTextEdit,
BaseSaveWidget QComboBox,
BaseSaveWidget #thumbnailButton {
    border-radius: 2px;
}

BaseSaveWidget #acceptButton,
BaseLoadWidget #acceptButton {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

BaseSaveWidget #selectionSetButton,
BaseLoadWidget #selectionSetButton {
    margin-left: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


FormDialog {
    padding: 5px;
    border-radius:3px;
}

FormDialog #title {
    padding: 4px;
    font-size: 18px;
}

FormDialog FieldWidget QLabel {
    background-color: rgb(200,200,100, 0);
}

FormDialog FieldWidget {
    padding-bottom: 10px;
}

FormDialog #description {
    padding: 4px;
    padding-bottom: 9px;
    margin-bottom: 10px;
    font-size: 12px;
    border-bottom: 1px solid rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B,15);
}

FormDialog #acceptButton,
FormDialog #rejectButton {
    margin: 2px;
    font-size: 14px;
    padding: 4px;
    min-width: 72px;
    min-height: 24px;
    border-radius: 2px;
}

FormDialog #acceptButton,
FormDialog #rejectButton {
    background-color: rgb(0,0,0,0);
}

FormDialog #acceptButton:disabled,
FormDialog #rejectButton:disabled {
    color: rgb(250,250,250,50);
}

FormDialog #acceptButton:hover {
    background-color: rgb(ACCENT_COLOR_R, ACCENT_COLOR_G, ACCENT_COLOR_B, 220);
}

FormDialog #acceptButton:pressed {
    background-color: rgb(ACCENT_COLOR_R, ACCENT_COLOR_G, ACCENT_COLOR_B, 220);
}

FormDialog #rejectButton:hover {
    background-color: rgb(FOREGROUND_COLOR_R, FOREGROUND_COLOR_G, FOREGROUND_COLOR_B,50);
}

FormDialog FieldWidget QLineEdit,
FormDialog FieldWidget QTextEdit {
    border-radius: 3px;
}

FieldWidget[error=true] QLineEdit:focus,
FieldWidget[error=true] QTextEdit:focus {
    border-color: rgb(200, 0, 0);
}

FieldWidget[error=true] QLineEdit,
FieldWidget[error=true] QTextEdit {
    background-color: rgb(255, 0, 0, 40);
}


/*
FieldWidget[default=false] QLineEdit,
FieldWidget[default=false] QTextEdit {
    border: 1px solid rgb(240, 150, 0, 255);
    background-color: rgb(240, 150, 0, 100);
}

FieldWidget[default=true] QComboBox {
    border-radius: 2px;
    border: 1px solid rgb(150, 150, 150, 100);
}

FieldWidget[default=false] QComboBox {
    border-radius: 2px;
    border: 1px solid rgb(240, 150, 0, 255);
    background-color: rgb(240, 150, 0, 100);
}

FieldWidget[default=false] QRadioButton:checked {
    color: rgb(240, 150, 0);
}

FieldWidget[default=false] #label {
    color: rgb(240, 150, 0);
}


FieldWidget[error=true] QRadioButton:checked {
    color: rgb(240, 0, 0);
}

FieldWidget[error=true] #label {
    color: rgb(240, 0, 0);
}
*/